[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
psycopg2-binary = "==2.9.3"
sqlalchemy = "==1.4.40"

[dev-packages]

[requires]
python_version = "3.9"
